
#bar{
    background-color: #090909;
	border-color: #0e0e0e;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fdfafa;
    background-color: #000000;
}
